@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen' , 'vazir',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://sfondo.info/i/original/3/c/8/67278.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'vazir';
  src: url("./Vazir.ttf");
}

@font-face {
  font-family: 'vazirBold';
  src: url("./Vazir-Bold.ttf");
}

@font-face {
  font-family: 'vazirdig';
  src: url("https://restaurant-164lv2uu1-omidfa123.vercel.app/Assets/Font/Vazir-Medium-FD.woff2");
}